.idea/**/*
.gradle/**/*
.vscode/**/*
**/.vscode/**/*
data/**/*
dist/**/*
data
bin
debug*.txt
profiling/
profile*.pdf
tmp_data/
example.sh
secrets/
.dccache
foo.json
*.decrypted_backup
*.encrypted_backup
.decrypted*
